# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Logs
*.log

# VSCode
.vscode/

# Build
build/
dist/
*.egg-info/

# SQLite
*.db